{% extends "!layout.html" %}

{%- block htmltitle %}
{% if pagename == 'index' %}
    <title>{{ title|striptags|e }}</title>
{% elif "DRYlib for " in title %}
    <title>{{ title|striptags|e }}</title>
{% else %}
    <title>DRYlib: {{ title|striptags|e }}</title>
{% endif %}
{%- endblock %}

{%- block footer %}
<footer class="footer">
  <div class="container">
    <p class="pull-right hidden-xs">
      <a href="{{ pathto('license') }}"><img alt="No copyright" src="{{ pathto('license.svg', 1) }}" style="height: 1rem;"/></a>
      <a href="{{ pathto('license') }}">Public domain</a>
    </p>
    <p role="list">
      <a role="listitem" href="{{ pathto('index') }}"><b>DRYlib</b></a>
      &rang;
      <span class="hidden-sm hidden-xs">
        <a role="listitem" href="{{ pathto('intro') }}">Introduction</a>
        &middot;
        <a role="listitem" href="{{ pathto('tutorial') }}">Tutorial</a>
        &middot;
        <a role="listitem" href="{{ pathto('faq') }}">FAQ</a>
        &middot;
      </span>
      <a role="listitem" href="{{ pathto('reference') }}">Reference</a>
      <span class="hidden-md hidden-sm hidden-xs">
        (<a role="listitem" href="{{ pathto('modules') }}">Modules</a>,
        <a role="listitem" href="{{ pathto('languages') }}">Languages</a>,
        <a role="listitem" href="{{ pathto('complexity') }}">Time Complexity</a>)
      </span>
      &middot;
      <a role="listitem" href="{{ pathto('status') }}">Status</a>
      &middot;
      <a role="listitem" href="{{ pathto('history') }}">History</a>
      &middot;
      <a role="listitem" href="{{ pathto('glossary') }}">Glossary</a>
      &middot;
      <span class="hidden-xs">
        <a role="listitem" href="{{ pathto('bibliography') }}">Bibliography</a>
        &middot;
      </span>
      <a role="listitem" href="{{ pathto('genindex') }}">Index</a>
      &middot;
      <a role="listitem" href="https://github.com/dryproject">Code</a>
    </p>
<!--
    <p>
    {%- if last_updated %}
      {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/>
    {%- endif %}
    </p>
-->
  </div>
</footer>
{%- endblock %}
