{% extends "!navbar.html" %}

{% block navbartoc %}
<li class="{% if pagename == 'intro' %}active{% endif %}"><a href="{{ pathto('intro') }}">Introduction</a></li>
<li class="{% if pagename == 'status' %}active{% endif %}"><a href="{{ pathto('status') }}">Status</a></li>
<li class="{% if pagename == 'faq' %}active{% endif %}"><a href="{{ pathto('faq') }}">FAQ</a></li>
{%
set module_names = [
  'base', 'bits', 'code', 'crypto', 'data', 'ffi', 'geo', 'io', 'lang', 'logic', 'math', 'media', 'meta', 'net', 'qty', 'std', 'sys', 'text', 'time', 'util',
]
-%}
<li class="dropdown{% if pagename.endswith('/index') %} active{% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <ul>
      <li class="dropdown-header">Module Reference</li>
      {% for module_name in module_names -%}
      <li class="toctree-l1{% if pagename.replace('/index', '').startswith(module_name) %} active{% endif %}"><a class="reference internal" href="{{ pathto(module_name + '/index') }}">{{ module_name }}</a></li>
      {% endfor -%}
    </ul>
  </ul>
</li>
{%
set languages = [
  ('c', 'C'),
  ('cpp', '<b>C++</b>'),
  ('lisp', 'Common Lisp'),
  ('d', 'D'),
  ('dart', 'Dart'),
  ('elixir', 'Elixir'),
  ('go', '<b>Go</b>'),
  ('java', '<b>Java</b>'),
  ('js', 'JS'),
  ('julia', 'Julia'),
  ('kotlin', 'Kotlin'),
  ('lua', 'Lua'),
  ('ocaml', '<b>OCaml</b>'),
  ('php', 'PHP'),
  ('python', 'Python'),
  ('ruby', 'Ruby'),
  ('rust', 'Rust'),
]
-%}
{%
set language_names = [
  'c', 'cpp', 'lisp', 'd', 'dart', 'elixir', 'go', 'java', 'js', 'julia', 'kotlin', 'lua', 'ocaml', 'php', 'python', 'ruby', 'rust',
]
-%}
<li class="dropdown{% if pagename in language_names %} active{% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <ul>
      <li class="dropdown-header">Language Reference</li>
      {% for language_name, language_title in languages -%}
      <li class="toctree-l1{% if pagename == language_name %} active{% endif %}"><a class="reference internal" href="{{ pathto(language_name) }}">{{ language_title }}</a></li>
      {% endfor -%}
    </ul>
  </ul>
</li>
{% endblock %}

{% block navbarextra %}
{% endblock %}
