##
# See: http://wiki.dreamhost.com/Htaccess
# See: http://wiki.dreamhost.com/Htaccess_tricks

# Respond with 403 Forbidden for directory indexes.
# See: https://httpd.apache.org/docs/2.4/mod/core.html#options
Options -Indexes +FollowSymLinks

# Enable only HTML and PHP indexes.
# See: https://httpd.apache.org/docs/2.4/mod/mod_dir.html#directoryindex
<IfModule mod_dir.c>
DirectoryIndex index.html
</IfModule>

# Respond with 403 Forbidden for hidden files.
# See: https://httpd.apache.org/docs/2.4/mod/mod_alias.html#redirectmatch
<IfModule mod_alias.c>
RedirectMatch 403 /\..*$
</IfModule>

# Set the header Content-Type: text/html; charset=UTF-8.
# See: https://httpd.apache.org/docs/2.4/mod/core.html#adddefaultcharset
AddDefaultCharset UTF-8

# Set the header Content-Language: en.
# See: https://httpd.apache.org/docs/2.4/mod/mod_mime.html#defaultlanguage
<IfModule mod_mime.c>
DefaultLanguage en
</IfModule>

# Define custom error responses.
# See: https://httpd.apache.org/docs/2.4/mod/core.html#errordocument
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

# Redirect '/$module' to '/$module/'.
# See: https://httpd.apache.org/docs/current/mod/mod_rewrite.html
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)([^/])$ /$1$2/ [R=301,L]
</IfModule>

# Redirect '/$module/index.html' to '/$module/'.
# See: https://httpd.apache.org/docs/current/mod/mod_rewrite.html
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
</IfModule>

# Redirect '.../$predicate?.html' to '.../$predicate%3F.html'.
# See: https://httpd.apache.org/docs/current/mod/mod_rewrite.html
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{QUERY_STRING} ^\.html$
RewriteRule ^(.*)$ /$1\%3F.html? [NE,R=301,L]
</IfModule>

# Redirect '/$module/$term' to '/$module/$term.html'.
# See: https://httpd.apache.org/docs/current/mod/mod_rewrite.html
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/\.]+)$ /$1/$2/$3/$4.html [R=301,L]
RewriteRule ^([^/]+)/([^/]+)/([^/\.]+)$ /$1/$2/$3.html [R=301,L]
RewriteRule ^([^/]+)/([^/\.]+)$ /$1/$2.html [R=301,L]
RewriteRule ^([^/\.]+)$ /$1.html [R=301,L]
</IfModule>

# Redirect renamed modules/terms to their correct names.
# See: https://httpd.apache.org/docs/current/mod/mod_rewrite.html
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^base/option.html$ /base/optional.html [R=301,L]
RewriteRule ^ffi/libc/(.*)$ /ffi/c/$1 [R=301,L]
</IfModule>
